*{
    margin:0;
    padding:0;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
}
img{
    border:0;
    vertical-align:middle;
}
body{
    font:12px "微软雅黑";
}
h1,h2,h3,h4,h5,h6,b,strong{
    font-weight:normal;
}
em,i{
    font-style:normal;
}
.left{
    float:left;
}
.right{
    float:right;
}
.clear{
    clear:both;
}